<app-top></app-top>
<div *ngIf="!isGameOver; else gameOver">
    <app-panel (finishGame)="finishGame($event)"></app-panel>
</div>

<ng-template #gameOver>
    <div class="container" style="margin-top: 50px">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h3 class="gameOver-{{ status }}" style="text-align: center">{{ gameOverMsg }}</h3>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" (click)="restart()">Restart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>